certifi
chardet
click
cozmo
cozmoclad
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
Pillow
python-engineio
python-socketio
requests
six
socketIO-client
urllib3
websocket-client
Werkzeug
