certifi==2017.4.17
chardet==3.0.4
click==6.7
cozmo==0.14.0
cozmoclad==1.5.0
Flask==0.12.2
Flask-SocketIO==2.8.6
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.12
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.0
olefile==0.44
Pillow==6.2.0
python-engineio==1.6.0
python-socketio==1.7.5
requests==2.18.1
six==1.10.0
socketIO-client==0.7.2
urllib3==1.21.1
websocket-client==0.44.0
Werkzeug==0.15.3
